venv
.env
recipes/migrations
recipes/__pycache__
nutrition/migrations
nutrition/__pycache__
kanban/migrations
images
.idea
authentication/migrations
authentication/__pycache__
kanban/migrations
authentication/__pycache__/models.cpython-311.pyc
authentication/__pycache__/serializers.cpython-311.pyc
authentication/__pycache__/urls.cpython-311.pyc
authentication/__pycache__/views.cpython-311.pyc
kanban/migrations/0001_initial.py
kanban/migrations/__pycache__/0001_initial.cpython-311.pyc
kanban/migrations/__pycache__/__init__.cpython-311.pyc
kanban/models.py
kanban/urls.py
life_unity_server/__pycache__/settings.cpython-311.pyc
life_unity_server/__pycache__/urls.cpython-311.pyc
life_unity_server/settings.py
life_unity_server/urls.py
nutrition/__pycache__/models.cpython-311.pyc
nutrition/__pycache__/serializers.cpython-311.pyc
nutrition/__pycache__/urls.cpython-311.pyc
nutrition/__pycache__/views.cpython-311.pyc
